[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = trafalgar
	email = guoyawen98@gmail.com
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	d = difftool
	co = checkout
	br = branch
	ci = commit
	st = status
[aliaa]
	last = log -l HEAD
[gui]
	encoding = utf-8
[i18n "commit"]
	encoding = utf-8
[i18n]
	logoutputencoding = utf-8
[credential]
	helper = wincred
[http]
	;sslBackend = openssl
	;sslcainfo = C:\\Program Files\\Git\\mingw64\\ssl\\cert.pem
	proxy = http://127.0.0.1:7890
	postBuffer = 524288000
[https]
	proxy = http://127.0.0.1:7890
[safe]
	directory = C:/Users/guo/AppData/Local/nvim
	directory = c:/workspace/obsidian
	directory = C:\\workspace\\obsidian\\ProgramKnowledge\\
	directory = *

[mergetool "kdiff3"]
    cmd = "C:/Users/guoya/scoop/shims/kdiff3.exe" $BASE $LOCAL $REMOTE -o $MERGED --L1 base --L2 local --L3 remote
	trustExitCode = false

[difftool "kdiff3"]
	cmd = "C:/Users/guoya/scoop/shims/kdiff3.exe" $LOCAL $REMOTE --L1 local --L2 remote
[difftool]
	prompt = false
; [merge]
; tool = meld
; [mergetool]
; prompt = false
; [mergetool "meld"]
; trustExitCode = true
; cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"

[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[log]
	date = iso
[advice]
	ignoredStash = true
[credential "helperselector"]
	selected = manager
[credential "https://chrome-internal.googlesource.com"]
	provider = generic

[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = master

[diff]
        guitool = kdiff3
        tool = kdiff3
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

# why the hell not?

[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

# a matter of taste (uncomment if you dare)

[core]
         fsmonitor = true
         untrackedCache = true
         quotePath = false
         editor = gvim
         packedGitLimit = 512m
         autocrlf = true
[merge]
        # (just 'diff3' if git version < 2.3)
        conflictstyle = zdiff3 
        tool = kdiff3
        ff = false
[pull]
        rebase = true
